<!DOCTYPE html>
<html lang="en">
<head>
    <title>Progress Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-dark text-white">

<div class="container mt-3">
    <div class="row">
        <div class="mt-4 p-5 bg-secondary text-white rounded" >
            <img src="/static/sokka.png" style="float:left; width:100px; margin-right: 20px;">
            <h1 style="font-family: 'Futura PT';">Sokka From Avatar the Last Airbender</h1>
            <h4 style="font-family: 'Futura PT';">Chat With Sokka</h4>
        </div>
    </div>
    <div class="row">
            <div class="mb-3 mt-3">
                <label for="comment">Chat:</label>
                <textarea disabled placeholder="Chat with Sokka" class="form-control" rows="10" id="comment" name="text"></textarea>
                <hr/>
                <input type="text" id="prompt" class="form-control"/>
            </div>
      <div>
        <label for="shouldSpeak">Speak</label>
        <input type="checkbox"id="shouldSpeak">
      </div>
  </div>


            <button type="button" class="btn btn-primary" id="chatBtn">Chat</button>
    </div>
</div>
<script>
    document.getElementById('prompt').addEventListener('change', fetchJsonData);
   // document.getElementById('chatBtn').addEventListener('click', fetchJsonData);
    // set up array
    let conversation = [
        {"role": "system", "content": "You are impersonating Sokka from Avatar the Last Airbender. talk like he does, sometimes through in dumb joke that has to do with the conversation. Mention people like aang, katara, zuko, toph, and suki (other people from avatar the last airbender) in some responses."}
    ]
    function fetchJsonData(event) {
        event.preventDefault();
        let promptInput = document.getElementById('prompt')
        let prompt = promptInput.value
        promptInput.value = "";

        let mytextarea = document.getElementById('comment');
        mytextarea.value += "USER: " + prompt + "\n";

        // add last message to the array
        conversation.push({"role":"user", "content": prompt})
        // Convert conversation to a string
        fetch('/chat?prompt=' + JSON.stringify(conversation))
            .then(response => {
                return response.text();
            })
            .then(jsonData => {
                console.log(jsonData);
                let mytextarea = document.getElementById('comment');
                mytextarea.value += "Sokka: " + jsonData + "\n";

            if(document.getElementById("shouldSpeak").checked){
                let tts = new SpeechSynthesisUtterance();
                tts.text =jsonData;
                window.speechSynthesis.speak(tts);
            }
                // End Speech

                mytextarea.scrollTop = mytextarea.scrollHeight;
                // update array
                conversation.push({"role":"assistant", "content": jsonData})
            })
            .catch(error => {
                console.error('Error fetching JSON:', error);
            });
    }
</script>
</body>
</html>
